.bg-custom {
  background-color: rgb(247, 247, 247);
}
.overflow-show {
  overflow: auto;
}

@media (min-width: 576px) {
  .mh-390 {
    min-height: 250px;
  }
}

@media (min-width: 992px) {
  .mh-390 {
    min-height: 390px;
  }
}
